GOOGLE_API_KEY=
GOOGLE_APPLICATION_CREDENTIALS=
GCP_PROJECT_ID=
REGION=
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=virtual-sales-agent
TOGETHER_API_KEY=2b8ff1e4148908c4e05fbff409bd0a704960ab81e62a14533eba4c4774e1b394